/*
    SPHSC Rules
    Include variables for testing, if not included earlier
    Test compilation with $./sites/all/libraries/lessphp/bin/lessc ./sites/all/themes/sphsc/less/sphsc.css.less 

*/

@import "uw/uw.fonts.less";
@import "variables.less";
@import "uw/uw.variables.less";
//
@import "sphsc-blocks.css.less";
@import "sphsc-footer.css.less";
@import "sphsc-header.css.less";
@import "sphsc-front.css.less";
// Main Primary color 
@color-primary-0: #4B2E83;
// Colors via: http://paletton.com/#uid=14m0u0kn2o4dny6iHrLqHjHvFet
@color-primary-1: #8770B3;
@color-primary-2: #634897;
@color-primary-3: #361B6B;
@color-primary-4: #20094F;


.hide,
.hide-this,
.search-results .search-info,
.sidebar-right .field.field-name-field-sidebar-body .field-label {
    &:extend(.hidden);
}

.hide-small {
    &:extend(.hidden-xs, .hidden-sm);
}

header .info, 
#block-footer-sitemap-footer-sitemap,
.block-menu-block {
    &:extend(.hide-small);
}

.no-margin,
.uw-sidebar iframe,
.view-display-id-block_1 .date-heading,
.view-display-id-block_1 .date-nav,
.view-display-id-block_1 .pager,
.block .section-content {
    margin: 0;
    padding: 0;
}

pre,
code {
    font-size: 10px;
    max-height: 300px;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #dcdcdc;
    padding: 8px;
}

.no-transition {
    -o-transition: 0s;
    -webkit-transition: 0s;
    transition: 0s;
}

.transition {
    -o-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.box-gradient {
    background-color: #444444;
    background-image: -webkit-linear-gradient(top, #444444, #999999);
    background-image: linear-gradient(to bottom, #444444, #999999);
}

.gradient-after {
    position: absolute;
    bottom: 0;
    left: 40%;
    height: 80px;
    right: 0;
    content: "";
    background: url('uw/assets/images/stripes-dark-tile.png');
    opacity: .3;
}

@media only screen and (min-width: 767px) {
    .dawgdrops-item.dawgdrops-item a {
        font-size: 1.341111vw;
    }
}

div#uw-container {
    div#uw-container-inner {
        box-shadow: none;
        .uw-body {
            .sidebar-left {}
            .uw-content {}
            .sidebar-right {}
        }
        table {
            td,
            th,
            {
                padding: 6px;
            }
            caption {
                text-align: center;
                font-style: italic;
                text-decoration: underline;
            }
        }
        .row.content-header {
            margin-top: auto !important;
            margin-bottom: 20px;
        }
        a .fa {
            border-bottom: 0 none;
        }
        .uw-content {
            margin-top: 20px;
            img {
                margin: 0 1em 1em 0;
            }
        }
    }
}

.not-front .uw-body {
    .uw-content {
        min-height: 500px;
        max-width: 850px;
        a {
            border-bottom: 1px solid transparent;
        }
        a:hover {
            border-bottom-color: #dcdcdc;
            font-style: italic;
        }
        a.off-site:after {
            font-family: FontAwesome;
            font-style: italic;
            border: 1px solid #dcdcdc;
            padding: 2px 4px;
            border-radius: 4px;
        }
        a.anchor,
        a.anchor:hover {
            border-bottom-style: dotted;
        }
        a.no-border,
        .uw-breadcrumbs a,
        .pager a {
            &:hover {
                border-bottom-color: transparent;
            }
        }
        .node .content {
            margin-bottom: 2em;
        }
    }
    div.workbench-info-block {
        &:extend(.alert,
        .alert-block,
        .alert-warning);
        color: #666;
    }
}


/**
            SPECIAL TEMPLATES 
            */

.page-page__1_col_sphsc_logos_plain_page,
.page-page__3_col_sphsc_logos_plain_page {
    .sphsc-logos-header {
        border-bottom: 1px solid #e9e6f0;
    }
    #block-footer-sitemap-footer-sitemap {
        display: none;
    }
}


/**
            OTHER OVERRIDES 
            */

form {
    .btn,
    .form-submit,
    .form-cancel {
        &:extend(.btn-lg);
    }
    button {
        margin: 2px;
    }
    .form-item input.form-text.form-email {
        &:extend(.form-control,
        .form-text);
    }
}
