body.admin-menu header.sphscuw-thinstrip.affix,
header.sphscuw-thinstrip.affix {
    z-index: 100;
}


/* 
        Purple thin strip 
        */

header.sphscuw-thinstrip {
    padding: 0;
    height: 36px;
    font-size: 12px;
    .container {
        width: 100%; 
        .sphscuw-patch {
            left: 50px;
        }
        .sphscuw-wordmark {
            left: 145px;
            top: 9px;
        }
    }
    .sphscuw-thin-strip-nav {
        ul.sphscuw-thin-links li a {
            font-size: 12px;
            &:after {
                height: 18px;
            }
        }
    }
}


/*
        Main, top-level row of navigation 
        */

header nav.main-nav {
    margin: 10px 10px 0 0;
    position: relative;
    background-color: transparent;
    ul.dawgdrops-nav {
        &:extend(.nav .navbar-nav);
        li.dawgdrops-item {
            &:extend(.pull-left);
            a {
                padding: 6px 30px 0 20px;
                // color: #fff;
            }
            a.dropdown-toggle:before {
                top: 14px;
            }
            ul.dawgdrops-menu {
                top: 33px;
                li a {
                    &:extend(.dawgdrops-menu li a);
                }
            }
        }
        li.dawgdrops-item.active > a {
            color: @darkgold;
        }
        li.dawgdrops-item.first a {
            padding-left: 0;
        }
        li.dawgdrops-item a.active-trail.dropdown-toggle:before {
            /*background-position: -354px -36px;*/
        }
        ul ul {
            display: none;
        }
    }
}


/*
        SPHSC logos and top right go-links 
        */

header.sphsc-logos-header {
    margin: 29px 14.5px 0 0;
    padding: 0;
    .container {
        width: 100%;
        .logo a {
            margin: 0 0 0 20px;
        }
    }
}

header {
    .sphsc-tab-tasks {
        margin: 15px 0;
    }
    nav.top-nav {
        ul {
            float: right;
            li {
                float: right;
                list-style-type: none;
                border-left: 1px solid #999;
                padding: 0 4px;
                font-family: Verdana 'open sans', arial, sans-serif;
                font-weight: 300;
                &:last-child {
                    border-left: 0 none;
                }
                a {
                    color: #666;
                    padding: 0 4px;
                    &:hover {
                        color: @link-color;
                    }
                }
            }
        }
        .contact {
            clear: both;
            font-size: 20px;
            font-family: 'open sans', arial, sans-serif;
            font-weight: 300;
            margin-top: 10px;
            p {
                float: left;
                margin-bottom: 0;
                font-size: 18px !important;
                font-family: "Encode Sans Compressed", serif, 'open sans', arial, sans-serif;
                font-weight: 400;
                font-variant: small-caps;
                text-transform: uppercase;
                margin-left: 20px;
                text-align: left;
                a {
                    color: #444444;
                }
                a:hover {
                    color: @link-color;
                }
            }
        }
        .contact i.fa {
            font-family: fontAwesome;
            color: #6091ba;
            margin-right: 8px;
            font-size: 18px;
            position: relative;
            top: 1px;
        }
    }
    .sphsc-tab-tasks {
        .caret {
            margin-left: 10px;
        }
        .fa-ul > li a {
            padding-left: 30px;
            i.fa-li {
                left: 0;
                top: 8px;
            }
        }
    }
}


/*
        Masthead big UW image and title text 
        */

header.uw-hero-image {
    height: auto;
    min-height: 170px;
    .page-title {
        margin: 50px 25px 30px 150px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 50px;
        line-height: 55px;
        font-weight: 900;
        -webkit-font-smoothing: antialiased;
    }
    &:before {
        &:extend(.gradient-before);
    }
    &:after {
        &:extend(.gradient-after);
    }
}

button.navbar-toggle {
    background-color: cornsilk;
    border: 1px solid gray;
    color: gray;
}

span.icon-bar:before {
    content: "---";
    padding-bottom: 4px;
}

body {
    header.sphscuw-thinstrip.affix {
        position: fixed;
        top: 0;
    }
    &.admin-menu header.sphscuw-thinstrip.affix {
        top: 30px;
    }
}
