.widget,
aside,
.well {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

section#block-views-sphsc-sidebar-snippet-block {
    .view-content img {
        &:extend(.img-thumbnail);
        border-width: 1px;
        padding: 2px;
        border-radius: 20px;
        float: left;
        margin: 0 4px 4px 0;
        max-width: 60%;
    }
    .pager {
        text-align: left;
        font-style: italic;
        li > a {
            padding: 0;
        }
    }
}

section address.sphsc-address {
    p.adr-group {
        padding-left: 20px;
        i.fa.pull-left {
            margin: .3em 0 0 -18px;
        }
    }
}

section.block {
    &:extend(.well);
    position: relative;
    margin: 0 0 20px 0;
    padding: 20px;
    h1,
    h1 a,
    h2,
    h2 a {
        color: @color-primary-0;
    }
    h1.section-heading,
    h2.block-title {
        clear: left;
        font-weight: 900;
        font-size: 20px;
        text-transform: uppercase;
        position: relative;
        margin: 0 0 20px 0;
        padding: 0 0 6px 0;
        &:after,
        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            content: "";
            height: 4px;
        }
        &:before {
            width: 120px;
            background-color: @color-primary-3;
        }
        &:after {
            width: 50px;
            -webkit-transform: skewX(-25deg) skewY(0);
            -o-transform: skewX(-25deg) skewY(0);
            transform: skewX(-25deg) skewY(0);
            -webkit-transform: skew(-25deg, 0);
            -ms-transform: skewX(-25deg) skewY(0);
            transform: skew(-25deg, 0);
            left: 110px;
            background-color: @color-primary-1;
        }
        .line {
            border-top: 2px solid @color-primary-1;
            display: inline-block;
            margin: 0 0 0 -20px;
            padding: 10px 0 0 20px
        }
    }
    .pager {
        li.date-prev,
        li.date-next {
            border: 0 none;
            background-color: transparent;
        }
        li > a {
            &:extend(.btn);
            /*, .btn-default, .btn-xs*/
            background-color: transparent;
            color: inherit;
            margin: 0 4px;
            border: 0 none;
            &:hover {
                border: 0 none;
                text-decoration: underline;
                font-style: italic;
            }
        }
        .glyphicon-refresh:before {
            /*content: "\e031";*/
            font-family: fontAwesome;
            content: "\f1ce"; // open circle
            content: "\f110"; // spinner
        }
    }
    .pull-left {
        padding: 0px 10px 10px 0;
    }
    .carousel-controls a .fa {
        background-color: @color-primary-2;
    }
}

section.block {
    ul.sphsc-syndicate-list {
        padding-left: 0;
        li {
            padding: 8px 0;
            list-style-type: none;
        }
        li a {
            border-bottom: 0 none !important;
        }
        li a .fa {
            vertical-align: middle;
            padding-right: 4px;
        }
    }
    .view-sphsc-sidebar-snippet {
        li.pager-current {
            display: none;
        }
    }
}

.sidebar-left .block-menu-block {
    ul {
        margin: 1em 0;
        padding: 0;
        list-style-type: none;
        text-transform: capitalize;
        font-variant: normal;
        font-size: 15px;
        font-family: Arial, Verdana, Helvetica, sans-serif;
        li {
            a {
                display: block;
                border-bottom: 1px solid #dcdcdc;
                line-height: 1.8em;
            }
            a.active {
                font-weight: bold;
                color: @darkgold;
            }
            ul {
                padding-left: 20px;
                font-size: 14px;
                li.expanded a {
                    border-bottom-color: #dcdcdc;
                }
                li a,
                li.expanded li a {
                    border-bottom-color: transparent;
                }
            }
        }
        li.expanded {
            list-style: inherit;
            list-style-image: none;
            list-style-type: square;
        }
        li.collapsed,
        li.expanded {
            list-style: inherit;
        }
    }
}
