footer {
    font-size: 13px;
    a#top-anchor-link {
        position: fixed;
        bottom: 10px;
        right: 10px;
        opacity: .3;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        i.fa {
            background-color: aliceblue;
            color: #666;
            padding: 4px 10px;
            font-size: 25px;
            font-weight: bold;
            border-radius: 4px;
        }
    }
    button,
    button.btn-primary {
        background-color: #dcdcdc;
        border-color: #999;
    }
    form.content-search {
        input.form-text,
        button.btn.btn-default,
        button.btn.btn-primary {
            height: 40px;
            margin: 0;
            border: 1px solid #999;
            margin-left: -1px;
            &:before {
                content: 'Search';
            }
            .glyphicon-search,
            .glyphicon-search:before {
                &:extend(.hidden);
            }
        }
    }
    .region.region-footer {
        width: 100%;
        float: left;
        transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
    }
}

footer.sphsc-footer {
    color: #333;
    background: #f5f5f5;
    padding: 30px;
    height: auto;
    position: relative;
    margin: 0;
    p,
    * {
        color: #333;
    }
    a:hover {
        border-bottom: none;
        text-decoration: underline;
    }
    section.block {
        background-color: transparent;
        box-shadow: none;
        float: left;
        &:before,
        &:after {
            visibility: hidden;
        }
        .block:first-child h2.block-title {
            color: #333;
        }
    }
    section#block-block-6 {
        &:extend(.col-md-3, .col-sm-12);
        float: right;
        font-style: italic;
    }
    form input {
        height: auto;
    }
}

footer {
    #block-footer-sitemap-footer-sitemap {
        &.expandable {
            h2 i {
                margin-left: 1em;
                cursor: pointer;
                font-size: 14px;
                opacity: .85;
            }
            i.fa-compress {
                display: inline-block;
            }
            i.fa-expand {
                display: none;
            }
            &.closed {
                max-height: 200px;
                overflow: hidden;
                i.fa-compress {
                    display: none;
                }
                i.fa-expand {
                    display: inline-block;
                }
                .gradient-foot {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 3em;
                    //.gradient (rgba(245, 245, 245, .5), rgba(245, 245, 245, 1))
                    background: -moz-linear-gradient(top, rgba(245, 245, 245, .5) 0%, rgba(245, 245, 245, 1) 50%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245, 245, 245, .5)), color-stop(50%, rgba(245, 245, 245, 1)));
                    background: -webkit-linear-gradient(top, rgba(245, 245, 245, .5) 0%, rgba(245, 245, 245, 1) 50%);
                    background: -o-linear-gradient(top, rgba(245, 245, 245, .5) 0%, rgba(245, 245, 245, 1) 50%);
                    background: -ms-linear-gradient(top, rgba(245, 245, 245, .5) 0%, rgba(245, 245, 245, 1) 50%);
                    background: linear-gradient(to bottom, rgba(245, 245, 245, .5) 0%, rgba(245, 245, 245, 1) 50%);
                }
                .main-menu ul.hovering > li > a {
                    background-color: transparent;
                    border-color: transparent;
                    &:hover {
                        border-bottom-color: transparent;
                    }
                }
            }
            .main-menu {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                -ms-column-count: 3;
                -o-column-count: 3;
                column-count: 3;
                -webkit-column-gap: 15px;
                -moz-column-gap: 15px;
                -ms-column-gap: 15px;
                -o-column-gap: 15px;
                column-gap: 15px;
                columns: 3;
                ul,
                li {
                    list-style: none;
                    margin: 0;
                    padding: 1px;
                    overflow: hidden;
                }
                ul > li {
                    width: 100%;
                    padding: .3em 0 .3em 1.5em;
                    margin: 0 0 -.1em 0;
                    line-height: 1em;
                    &:before {
                        display: inline-block;
                        content: '—';
                        width: 1em;
                        margin-left: -1em;
                    }
                }
                li li {
                    &:before {
                        content: '◦';
                    }
                }
                li li li,
                li li li li {
                    display: inline-block;
                    &:before {
                        content: '‒';
                    }
                }
                ul > li > a {
                    border: 1px solid transparent;
                    border-radius: 3px;
                    padding: 2px 4px;
                }
                ul.hovering > li > a {
                    background-color: #fff;
                    border-color: #dcdcdc;
                }
                li.active > a {
                    color: crimson;
                    font-style: italic;
                }
            }
        }
    }
}


