@media only screen and (min-width: 1200px) {
    .front {
        .region.region-sidebar-first,
        .region.region-sidebar-second {
            section {
                min-height: 380px;
            }
        }
    }
}

.front {
    section {
        background-color: #f5f5f5;
        &:before {
            content: "";
            position: absolute;
            visibility: visible;
            display: block;
            bottom: 1px;
            right: 1px;
            top: 1px;
            width: 1px;
            background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#dcdcdc) 70%, to(transparent));
            background-image: -webkit-linear-gradient(transparent 70%, #dcdcdc);
            background-image: -moz-linear-gradient(transparent 70%, #dcdcdc);
            background-image: -o-linear-gradient(transparent 70%, #dcdcdc);
        }
        &:after {
            content: "";
            position: absolute;
            visibility: visible;
            display: block;
            bottom: 1px;
            left: 1px;
            right: 1px;
            height: 1px;
            background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent) 70%, to(#dcdcdc));
            background-image: -webkit-linear-gradient(left, transparent 70%, #dcdcdc);
            background-image: -moz-linear-gradient(left, transparent 70%, #dcdcdc);
            background-image: -o-linear-gradient(left, transparent 70%, #dcdcdc);
        }
        // News 
        &#block-block-8 {
            background-color: #4B2E83;
            * {
                color: #dcdcdc !important;
            }
            .carousel-controls {
                position: absolute;
                right: 10px;
                top: 10px;
                background: #dddddd;
                color: #fff;
                display: inline-block;
                width: 20px;
                height: 20px;
                text-align: center;
                margin-right: 0;
                font-size: 15px;
            }
            .news-item {
                padding-left: 115px;
                position: relative;
                margin-bottom: 20px;
                img {
                    width: 100px;
                    height: 100px;
                }
                h2.title {
                    font-size: 18px;
                    margin-top: 0;
                    a {
                        color: #444444;
                    }
                    a:hover {
                        color: #365d7e;
                    }
                }
                .thumb {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
        // Events 
        &#block-block-7 .section-content {
            min-height: 520px;
            .event-item {
                position: relative;
                padding-left: 55px;
                border-bottom: 1px solid #e8e8e8;
                padding-bottom: 10px;
                h2.title {
                    margin-bottom: 20px;
                    font-size: 16px;
                }
                .details {
                    .time {
                        margin-right: 10px;
                    }
                    .fa {
                        margin-right: 5px;
                    }
                    p {
                        color: #666;
                    }
                }
                .fa.fa-map-marker {
                    font-size: 18px;
                }
                .fa {
                    margin-right: 5px;
                    font-size: 14px;
                    min-width: 16px;
                    color: #666;
                }
                .date-label {
                    background: #fff;
                    position: absolute;
                    left: 0;
                    display: inline-block;
                    width: 40px;
                    height: 50px;
                    text-align: center;
                    font-size: 13px;
                    .month {
                        background: #6091ba;
                        color: #fff;
                        display: block;
                        font-size: 13px;
                        text-transform: uppercase;
                    }
                    .date-number {
                        clear: left;
                        display: block;
                        padding-top: 5px;
                        font-size: 15px;
                        font-family: 'open sans', arial, sans-serif;
                        font-weight: 500;
                    }
                }
            }
            p {
                margin-bottom: 5px;
            }
            a.read-more {
                margin: 10px 0 0 10px;
                display: block;
                i {
                    margin: 0 .5em;
                }
            }
        }
    }
}

.hero-wrapper.container {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    .title,
    .bx-controls-direction a {
        visibility: hidden;
    }
    .bx-pager a,
    .bx-controls a,
    .bx-controls-direction a,
    .title * {
        &:extend(.no-transition);
    }
    &.expanded {
        .title,
        .bx-controls-direction a {
            visibility: visible;
        }
        .hero-slide .title a.fa {
            color: gold;
            opacity: .5;
        }
        .bx-wrapper .bx-controls-direction a.bx-next {
            right: 20px;
        }
        .bx-wrapper .bx-controls-direction a.bx-prev {
            left: 20px;
        }
        .bx-viewport,
        .hero-slide {
            height: auto;
        }
    }
    &:hover {
        .title,
        .bx-controls-direction {
            visibility: visible;
        }
    }
    .hero-slide .title a.fa:hover {
        color: gold;
        opacity: 1;
    }
    .bx-viewport,
    .hero-slide {
        height: 500px;
        box-shadow: none;
    }
    .bx-wrapper {
        margin-bottom: 35px;
    }
    .hero-slide {
        position: relative;
        overflow: hidden;
        a {
            color: white;
            opacity: .9;
        }
        .title {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            color: white;
            text-shadow: 1px 1px 2px #333;
            background-color: transparent;
            background-color: rgba(0, 0, 0, 0.6);
            em {
                color: white;
                opacity: .9;
                font-size: 14px;
                font-family: serif;
                font-weight: 100;
                font-variant: small-caps;
                font-style: normal;
                float: left;
                padding: 4px 12px;
                float: left;
                width: 70%;
                overflow: hidden;
            }
            a.fa {
                color: #999;
                float: right;
                margin: 2px;
                cursor: pointer;
            }
            a.fa:hover {
                color: gold;
            }
        }
        .bg-hash {
            visibility: hidden;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 60px;
            width: 70%;
            content: "";
            background: url('assets/images/stripes-dark-tile.png');
            opacity: 0.5;
            background: url('assets/images/stripes-dark-tile.png'), -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: url('assets/images/stripes-dark-tile.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
            background: url('assets/images/stripes-dark-tile.png'), -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: url('assets/images/stripes-dark-tile.png'), -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: url('assets/images/stripes-dark-tile.png'), -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: url('assets/images/stripes-dark-tile.png'), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        }
        &:before {
            &:extend(.gradient-before);
        }
        &:after {
            &:extend(.gradient-after);
        }
    }
}
