ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
    background-color: #dcdcdc !important; 
    color: #999 !important;
    border-color: #999 !important;
    padding: 0 18px !important;
}

ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
    background-color: #fff !important;
    border-color: #333 !important;
    color: #000 !important;
}

.filter-guidelines-item ul.tips {
    display: none;
}

body.page-admin-content .view-id-sphsc_admin_content .view-header {
    float: right;
    width: 100%;
}

body.page-admin-content .view-id-sphsc_admin_content .view-header .view-display-id-block_1 {
    float: right;
    border: 1px solid #dcdcdc;
    padding: 1em;
    border-radius: 10px;
    margin: 0 0 1em 0;
}

form.node-form .form-item-field-tags-und .form-item {
    width: 25%;
    float: left;
    overflow: hidden;
}

form.node-form .field-type-taxonomy-term-reference.field-name-field-tags {
    float: left;
    width: 100%;
    margin: 2em 0;
}

form.node-form .field-type-taxonomy-term-reference .description {
    float: left;
    width: 100%;
}

div.devel-querylog {
    font-size: 9px !important;
    overflow: auto;
    max-height: 200px;
    font-weight: normal !important;
}

div.devel-querylog strong,
div.devel-querylog code,
{
    font-weight: normal !important;
    font-size: 9px !important;
}

.bigmenu-childindictor {
    display: block;
    font-size: .8em;
    display: inline;
    margin: 0 2em;
}

.hidden {
    display: none;
}

a.toggle {
    display: inline
}

a.toggle:before {
    content: "(-)";
    cursor: pointer;
    margin: 0 1em;
}

a.toggle.all:before {
    content: "(- all)";
}

.closed a.toggle:before {
    content: "(+)";
}


/*.indentation:first-child:nth-last-child(1) {
    content: "1";
}

.indentation:first-child:nth-last-child(2),
.indentation:first-child:nth-last-child(2) ~ .indentation {
    content: "2";
}

.indentation:first-child:nth-last-child(3),
.indentation:first-child:nth-last-child(3) ~ .indentation {
    content: "3";
}

.indentation:first-child:nth-last-child(4),
.indentation:first-child:nth-last-child(4) ~ .indentation {
    content: "4";
}

.indentation:first-child:nth-last-child(5),
.indentation:first-child:nth-last-child(5) ~ .indentation {
    content: "5";
}*/
