/*@import url("structure.css");

@font-face {
  font-family: 'Encode Sans Compressed';
  src: url('../assets/fonts/encodesanscompressed-600-semibold-webfont.eot');
  src: url('../assets/fonts/encodesanscompressed-600-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.woff') format('woff'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.ttf') format('truetype'), url('../assets/fonts/encodesanscompressed-600-semibold-webfont.svg#encodesanscompressed-600-semibold-webfont') format('svg');
  font-weight: 600;
  font-style: normal;
}*/

/* Pulled from our CSS */

.sphscuw-thinstrip {
  height: 55px;
  width: 100%;
  background: #4b2e83;
  padding-top: 7px;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.sphscuw-thinstrip .container {
  position: relative;
}
.sphscuw-thinstrip .sphscuw-patch {
  display: block;
  text-indent: -9999px;
  width: 81px;
  height: 55px;
  background: url('../assets/svg/uw-sprite-mini.svg') no-repeat 0 -3px transparent;
  position: absolute;
  top: -7px;
  left: 0;
  z-index: 1;
}
.sphscuw-thinstrip .sphscuw-wordmark {
  display: block;
  position: absolute;
  top: 11px;
  left: 97px;
  text-indent: -9999px;
  width: 260px;
  height: 24px;
  background: url('../assets/svg/uw-sprite-mini.svg') no-repeat 0 -74px transparent;
}
.sphscuw-thinstrip ul.sphscuw-thin-links {
  margin: 0;
  position: relative;
  z-index: 1;
  font-weight: 700;
  padding: 0;
  float: right;
  list-style: none;
}
.sphscuw-thinstrip ul.sphscuw-thin-links li {
  display: inline-block;
}
.sphscuw-thinstrip ul.sphscuw-thin-links li a {
  font-family: "Encode Sans Compressed", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  float: right;
  padding: 8px 25px 10px 0;
  letter-spacing: .01em;
}
.sphscuw-thinstrip ul.sphscuw-thin-links li a:after {
  position: absolute;
  right: 8px;
  height: 24px;
  width: 12px;
  top: 8px;
  content: "";
  background: url('../assets/svg/uw-sprite-mini.svg') no-repeat -696px 0;
}
.sphscuw-thinstrip ul.sphscuw-thin-links li a:hover,
.sphscuw-thinstrip ul.sphscuw-thin-links li a:focus {
  color: #b7a57a;
}
.sphscuw-thinstrip ul.sphscuw-thin-links li:last-child a:after {
  display: none;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

  .sphscuw-thinstrip {
    padding: 0;
    height: 45px;
  }
  .sphscuw-thinstrip .container {
    position: static;
  }
  .sphscuw-thinstrip .sphscuw-patch {
    width: 73px;
    height: 39px;
    top: 6px;
    left: -3px;
    background-size: 630px;
  }
  .sphscuw-thinstrip .sphscuw-wordmark {
    width: 285px;
    height: 30px;
    background: url('../assets/svg/uw-sprite-mini.svg') no-repeat 0 -59px rgba(0, 0, 0, 0);
    margin: 0;
    float: none;
    position: absolute;
    left: 63px;
    top: 15px;
    background-size: 697px;
  }
  .sphscuw-thinstrip ul.sphscuw-thin-links {
    height: 50px;
  }
  .sphscuw-thinstrip ul.sphscuw-thin-links li {
    float: none;
  }


}
@media only screen and (max-width: 767px) {
  .sphscuw-thinstrip ul.sphscuw-thin-links li {
    display: none;
  }

}


http://sphsc.dev/sites/all/themes/sphsc/templates/UW-Header-Templates-master/assets/svg/uw-sprite-mini.svg
                 sites/all/themes/sphsc/templates/UW-Header-Templates-master/assets/svg/uw-sprite-mini.svg


